@page "/"
@using BlogApp.Contract.Models
@using BlogApp.Web.Services
@inject IBlogService BlogService

@if (blogApp == null)
{
    <p>Loading...</p>
}
else
{

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-md-offset-2">
                <div class="mainheading">
                    <div class="row post-top-meta authorpage">
                        <div class="col-md-10 col-xs-12">
                            <h1>@blogApp.Author.FullName</h1>
                            <span class="author-description">
                                @blogApp.Author.About
                            </span>
                            <div class="sociallinks">
                                @foreach (var socialMedia in blogApp.Author.SocialMedias)
                                {
                                    <a target="_blank" href="@socialMedia.Value">
                                        <i class="fa fa-@socialMedia.Key"></i>
                                    </a>
                                }
                            </div>
                            <a target="_blank" href="https://twitter.com/wowthemesnet" class="btn follow">Follow</a>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <img class="author-thumb" src="@blogApp.Author.ImageUrl"
                                 alt="@blogApp.Author.FullName">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <PostList Posts="@posts" />
}

@functions
{
protected List<PostModel> posts = null;
protected BlogAppModel blogApp = null;

protected override async void OnInit()
{
    blogApp = await BlogService.GetBlogConfigurationAsync();
    posts = await BlogService.GetPostsAsync();
}

}
